.body {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .billsshow {
  background-color: rgb(237, 237, 237);
  padding: 15px;
} */

.heading {
  background-color: lightgray;
  padding: 15px;
}

.title {
  align-self:flex-start;
  justify-content: baseline;
  font-family: sans-serif;
}

.logo {
  /* align-self: flex-end; */
  width: 5%;
  height: 5%;
}

.bills-logo {
  width: 30px;
  height: 30px;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.bill-short-title {
  font-weight: bold;
}

.bills-logo {
  width: 30px;
  height: 30px;  
}